<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Geek Notebook</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="style/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css">
<link rel="stylesheet" type="text/css" href="style/js/player/mediaelementplayer.css">
<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
<link rel="stylesheet" type="text/css" href='style/css/bootstrap.css' />
<link rel="stylesheet" type="text/css" href='style/css/bootstrap.min.css' />
<script src="style/js/jquery-1.7.2.min.js"></script>
<script src="style/js/ddsmoothmenu.js"></script>
<script src="style/js/retina.js"></script>
<script src="style/js/selectnav.js"></script>
<script src="style/js/jquery.masonry.min.js"></script>
<script src="style/js/jquery.fitvids.js"></script>
<script src="style/js/jquery.backstretch.min.js"></script>
<script src="style/js/mediaelement.min.js"></script>
<script src="style/js/mediaelementplayer.min.js"></script>
<script src="style/js/jquery.dcflickr.1.0.js"></script>
<script src="style/js/twitter.min.js"></script>
</head>

<body>
<div class="scanlines"></div>
<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo"> <a href="index.html"> <p style="font-size: 200%; color:#FFFFFF">Geek Notebook</p> </a> </div>
    <div id="menu-wrapper">
      <div id="menu" class="menu">
        <ul id="tiny">
          <li class="active"><a href="index.html">todo1</a>
            <ul>
              <li><a href="post.html">Post</a></li>
            </ul>
          </li>
          <li><a href="page-with-sidebar.html">todo2</a>
            <ul>
              <li><a href="page-with-sidebar.html">Page With Sidebar</a></li>
              <li><a href="full-width.html">Full Width</a></li>
            </ul>
          </li>
          <li><a href="typography.html">todo3</a>
            <ul>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="columns.html">Columns</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper">


  <div id="menu" class="row">
    <p style="font-size: 150%; color: #FFFFFF">Picture Upload</p>
    <ul>
      <li class="active" style="color:#FFFFFF">
          <label class="btn btn-primary" for="my-file-selector">
            <input id="my-file-selector" type="file" style="display:none;">
            Choose File
          </label>
      </li>
      <li class="active">
          <button class="btn btn-success" onclick="myFunction()">Upload</button>
      </li>      
    </ul>
  </div>


  <div class="blog-wrap">
    <div class="blog-grid">
      <div class="post format-image box">
        <div class="frame"> <a href="post.html"> <img src="style/images/art/post1.jpg" alt=""> </a> </div>
        <h2 class="title"><a href="post.html">Morning Glory</a></h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p>
      </div>
      <div class="post format-image box">
        <div class="frame"> <a href="post.html"> <img src="style/images/art/post1.jpg" alt=""> </a> </div>
        <h2 class="title"><a href="post.html">Morning Glory</a></h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p>
      </div>  
      <div class="post format-image box">
        <div class="frame"> <a href="post.html"> <img src="style/images/art/post1.jpg" alt=""> </a> </div>
        <h2 class="title"><a href="post.html">Morning Glory</a></h2>
        <p>Then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</p>
      </div>
      <div class="post format-link box">
        <h2 class="title"><a href="#">The Italic Mountains<span class="arrow">&rarr;</span></a></h2>
        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
      </div>
      <div class="post format-chat box">
        <h2 class="title"><a href="post.html">Two Best Friends</a></h2>
        <ul>
          <li><strong>Barney:</strong> Stop pining over Marshall and Lily! Have some self respect. Now put this fiver in your mouth so that stripper with the lazy eye can vacuum it up with&#8230;</li>
          <li><strong>Ted:</strong> Barney! I&#8217;m allowed to miss them alright? They&#8217;re my two best friends.</li>
          <li><strong>Barney:</strong> I&#8217;m your two best friends!</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="navigation">
    <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
  </div>
  <br>
  <ul class="social">
    <li><a class="rss" href="#"></a></li>
    <li><a class="facebook" href="#"></a></li>
    <li><a class="twitter" href="#"></a></li>
  </ul>
</div>
<div class="footer-wrapper">
  <div id="footer" class="four">
    <div id="first" class="widget-area">
      <div class="widget widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
          <li><a href="#">to be done</a> (6)</li>
          <li><a href="#">to be done</a> (2)</li>
          <li><a href="#">to be done</a> (2)</li>
          <li><a href="#">to be done</a> (4)</li>
          <li><a href="#">to be done</a> (3)</li>
          <li><a href="#">to be done</a> (1)</li>
        </ul>
      </div>
    </div>  
  </div>
</div>
<div class="site-generator-wrapper">
  <div class="site-generator">HackEmory</div>
</div>
<script src="style/js/scripts.js"></script>
<script>
function myFunction() {
    var x = document.getElementById("myFile");
    todo: send to Database
    x.disabled = true;
}
</script>

</body>
</html>