<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Todo List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="style/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css">
<link rel="stylesheet" type="text/css" href="style/js/player/mediaelementplayer.css">
<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
<link rel="stylesheet" type="text/css" href='style/css/bootstrap.css' />
<link rel="stylesheet" type="text/css" href='style/css/bootstrap.min.css' />
<script src="style/js/jquery-1.7.2.min.js"></script>
<script src="style/js/ddsmoothmenu.js"></script>
<script src="style/js/retina.js"></script>
<script src="style/js/selectnav.js"></script>
<script src="style/js/jquery.masonry.min.js"></script>
<script src="style/js/jquery.fitvids.js"></script>
<script src="style/js/jquery.backstretch.min.js"></script>
<script src="style/js/mediaelement.min.js"></script>
<script src="style/js/mediaelementplayer.min.js"></script>
<script src="style/js/jquery.dcflickr.1.0.js"></script>
<script src="style/js/twitter.min.js"></script>
</head>

<body>
<div class="scanlines"></div>
<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo"> <a href="index.html"> <p style="font-size: 200%; color:#FFFFFF">Geek Notebook</p> </a> </div>
    <div id="menu-wrapper">
      <div id="menu" class="menu">
        <ul id="tiny">
          <li class="active"><a href="index.html">Photo</a>
            <ul>
              <li><a href="post.html">Post</a></li>
            </ul>
          </li>
          <li><a href="todo.html">Todo List</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="wrapper">
  <p style="font-size: 150%; color:#FFFFFF">Todo List</p>
  <div id="menu" class="menu">
    <ul style="list-style-type:none; font-size: 150%; color: #ffffff">
      <li class="active">Photo
        <ul style="list-style-type:none; font-size: 110%; color: #ffffff">
          <li>
          <p class="ele1">Event</p>
          <input class="ele1" style="padding-left : 10px" type="checkbox" checked="">
          </li>
        </ul>
      </li>
      <li>
      Todo List
      <ul style="list-style-type:none; font-size: 110%; color: #ffffff">
          <li>Post</li>
      </ul>
      </li>
    </ul>
  </div>
</div>

<div class="footer-wrapper">
  <div id="footer" class="four">
    <div id="first" class="widget-area">
      <div class="widget widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
          <li><a href="#">to be done</a> (6)</li>
          <li><a href="#">to be done</a> (2)</li>
          <li><a href="#">to be done</a> (2)</li>
          <li><a href="#">to be done</a> (4)</li>
          <li><a href="#">to be done</a> (3)</li>
          <li><a href="#">to be done</a> (1)</li>
        </ul>
      </div>
    </div>  
  </div>
</div>
<div class="site-generator-wrapper">
  <div class="site-generator"><p style="color:#ffffff;">HackEmory</p></div>
</div>
<script src="style/js/scripts.js"></script>
<script>
function myFunction() {
    var x = document.getElementById("myFile");
    todo: send to Database
    x.disabled = true;
}
</script>

</body>
</html>