<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Geeks' Notebook</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/static/style/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/style/css/media-queries.css">
<link rel="stylesheet" type="text/css" href="/static/style/js/player/mediaelementplayer.css">
<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
<link rel="stylesheet" type="text/css" href='/static/style/css/bootstrap.css' />
<link rel="stylesheet" type="text/css" href='/static/style/css/bootstrap.min.css' />
<script src="/static/style/js/jquery-1.7.2.min.js"></script>
<script src="/static/style/js/ddsmoothmenu.js"></script>
<script src="/static/style/js/retina.js"></script>
<script src="/static/style/js/selectnav.js"></script>
<script src="/static/style/js/jquery.masonry.min.js"></script>
<script src="/static/style/js/jquery.fitvids.js"></script>
<script src="/static/style/js/jquery.backstretch.min.js"></script>
<script src="/static/style/js/mediaelement.min.js"></script>
<script src="/static/style/js/mediaelementplayer.min.js"></script>
<script src="/static/style/js/jquery.dcflickr.1.0.js"></script>
<script src="/static/style/js/twitter.min.js"></script>
</head>

<body>
<div class="scanlines"></div>
<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo"> <a href="/"> <p style="font-size: 200%; color:#FFFFFF">Geeks' Notebook</p> </a> </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper">

  
  <br/>

  <div class="blog-wrap">
    <div class="blog-grid">
      {% for post in posts %}
      <div class="post format-image box">
        <div class="frame" style="background-image: url(/static/images/{{post.src}}.{{post.ext}});background-size: cover;"> 
          <a href="{{post.url}}"> 
            <img src="/static/images/blank.png" alt=""/>
          </a> 
        </div>
        <h2 class="title"><a href="{{post.url}}">{{post.title}}</a></h2>
        <p>{{post.descrip}}</p>
      </div>
      {% endfor %}
      {% if main %}
      <div id="menu" class="post box">
        <p style="font-size: 150%; color: #FFFFFF">Picture Upload</p>'
        <form method="post" enctype="multipart/form-data">
          <ul style="list-style-type: none;">
            <div class="form-group">
              <label for="title" style="color:#ffffff;">Title:</label>
              <input type="text" class="form-control" id="title" name="title" style="background-color: #ffffff;">
            </div>
            <div class="form-group">
              <label for="description" style="color:#ffffff;">Description:</label>
              <textarea class="form-control" rows="3" id="description" style="background-color: #ffffff;" name="descrip"></textarea>
            </div>
          </ul>
          <ul style="list-style-type: none; margin: 0; padding: 0;overflow: hidden;">
            <li class="active" style="color:#FFFFFF; float: left;">
                <label class="btn btn-primary" for="my-file-selector">
                  <input id="my-file-selector" type="file" style="display:none;" name="file">
                  Choose File
                </label>
            </li>
            <li class="active" style="float: left;">
                <input type="submit" value="Post">
            </li>  
          </form>
        </ul>
        <br/>  
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="site-generator-wrapper">
  <div class="site-generator" style="color: #ffffff;">Copyright Geeks' Notebook 2017. All rights reserved.
</div>
<script src="/static/style/js/scripts.js"></script>
<script>
function myFunction() {
    var x = document.getElementById("myFile");
    //todo: send to Database
    x.disabled = true;
}
</script>

</body>
</html>