<!DOCTYPE HTML>
<html lang="en">
<head>
<title>{{pic.title}} | Geek's Notebook</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/static/style//css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/style//css/media-queries.css">
<link rel="stylesheet" type="text/css" href="/static/style//js/player/mediaelementplayer.css">
<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/static/style//css/ie8.css" media="all">
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="/static/style//css/ie9.css" media="all">
<![endif]-->
<script src="/static/style//js/jquery-1.7.2.min.js"></script>
<script src="/static/style//js/ddsmoothmenu.js"></script>
<script src="/static/style//js/retina.js"></script>
<script src="/static/style//js/selectnav.js"></script>
<script src="/static/style//js/jquery.masonry.min.js"></script>
<script src="/static/style//js/jquery.fitvids.js"></script>
<script src="/static/style//js/jquery.backstretch.min.js"></script>
<script src="/static/style//js/mediaelement.min.js"></script>
<script src="/static/style//js/mediaelementplayer.min.js"></script>
<script src="/static/style//js/jquery.dcflickr.1.0.js"></script>
<script src="/static/style//js/twitter.min.js"></script>
<script>$.backstretch("style/images/bg/1.jpg");</script>
</head>
<body class="single">
<div class="scanlines"></div>
<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo"> <a href="/"> <p style="font-size: 200%; color:#FFFFFF">Geeks' Notebook</p> </a>  </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper">
  <div class="intro">If you love the lights, the placeholder is here.</div>
  <div class="main-image">
    <div class="outer"> <span class="inset"><img src="/static/images/{{pic.src }}.{{pic.ext}}" alt=""></span> </div>
  </div>
  <div class="content">
    <div class="post format-image box">
      <div class="details"> 
        <span class="icon-image">{{pic.timestamp}}</span>
      </div>
      <h1 class="title">{{pic.title}}</h1>
      <p>{{pic.descrip}}</p>
      <div class="tags">
        {% for tag in tags %}
        <a href="/tag/{{tag}}">{{tag}}</a> 
        {% endfor %}
      </div>
      <form class="searchform" method="post">
        <input type="text" name="newTag" value="type new tag and hit enter" onFocus="this.value=''" onBlur="this.value='type new tag and hit enter'"/>
      </form>
    </div>
  </div>
  <div class="sidebar box">
    <div class="sidebox widget">
      <h3 class="widget-title">Custom Text</h3>
      <div>Suspendisse eu odio quis elit ultrice commodo tempor eget arcu. Sedur aliquet posuere lectus aliquam iaculi. Curabitur a risus metus. In ut lorem nisl, et adipiscing sapien. Donec sed risus tristiq scelerisque. </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="site-generator-wrapper">
  <div class="site-generator">Copyright Geeks' Notebook 2017. All rights reserved.
</div>
<script src="/static/style//js/scripts.js"></script>
</body>
</html>